<list>
  <template>
    <type>dao</type>
    <vm>sample-data.vm</vm>
    <src>/src/test/resources/sample-data.xml</src>
    <common>true</common>
  </template>
  <template>
    <type>dao</type>
    <vm>mapping-query.vm</vm>
    <src>src/main/resources/sql/xp-query/mapping-query-{class-name-lower}.xml</src>
    <common>false</common>  
  </template>
  <template>
    <type>service</type>
    <vm>service.vm</vm>
    <src>src/main/java/{basepkg-name}/service/{class-name}XPService.java</src>
    <common>false</common>       
  </template>
  <template>
    <type>service</type>
    <vm>service-impl.vm</vm>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}XPServiceImpl.java</src>
    <common>false</common>       
  </template>
  <template>
    <type>web</type>
    <vm>controller.vm</vm>
    <src>src/main/java/{basepkg-name}/web/{class-name}XPController.java</src>
    <common>false</common>         
  </template>
  <template>
    <type>web</type>
    <vm>controller-beans.vm</vm>
    <src>/src/main/resources/spring/xp-query-generation-servlet.xml</src>
    <common>false</common>   
	<merge>true</merge>      	
  </template>
  <template>
    <type>web</type>
    <vm>xp-grid-list.vm</vm>
    <src>/src/main/webapp/xp-query/extends/{class-name-lower}/list{class-name}.xfdl</src>
    <common>false</common>   
  </template>
  <template>
    <type>web</type>
    <vm>xp-default-typedef.vm</vm>
    <src>/src/main/webapp/xp-query/extends/default_typedef.xml</src>
    <common>false</common>   
    <merge>true</merge>
  </template>
  <template>
    <type>web</type>
    <vm>message-properties.vm</vm>
    <src>/src/main/resources/message/message-generation.properties</src>
    <common>false</common>
    <merge>true</merge>
  </template>
  <template>
    <type>web</type>
    <vm>menu.vm</vm>
    <src>/src/main/webapp/anyframe.jsp</src>
    <common>false</common>   
	<merge>true</merge>      	
  </template>
</list>