#macro( getDomainNameLower $domainName )### START getDomainNameLower
${domainName.substring(0,1).toLowerCase()}${domainName.substring(1)}##
#end#### END getDomainNameLower
#macro( columnToMessage $columnName )### START columnToMessage
#foreach ($column in $columnName.split("_"))##
#if($velocityCount > 1) #end${column.substring(0,1)}${column.substring(1).toLowerCase()}##
#end##
#end#### END columnToMessage

# -- #getDomainNameLower(${domain.name})-START

#foreach($column in $domain.columns)
#getDomainNameLower(${domain.name}).${column.fieldName}=#columnToMessage(${column.columnName})#**#
#end

# -- success messages -- 
success.#getDomainNameLower(${domain.name}).create=${domain.name} has been added successfully.
success.#getDomainNameLower(${domain.name}).update=${domain.name} has been updated successfully.
success.#getDomainNameLower(${domain.name}).delete=${domain.name} has been deleted successfully.

# -- error messages --
error.#getDomainNameLower(${domain.name})serviceimpl.create=${domain.name} data not created
error.#getDomainNameLower(${domain.name})serviceimpl.create.solution=Enter correct data for mandatory field or enter data according to formats means date format as yyyy-mm-dd
error.#getDomainNameLower(${domain.name})serviceimpl.create.reason=Entered incorrect data for ${domain.name}

error.#getDomainNameLower(${domain.name})serviceimpl.exists=${domain.name} don't exist
error.#getDomainNameLower(${domain.name})serviceimpl.exists.solution=Check ${domain.name} data
error.#getDomainNameLower(${domain.name})serviceimpl.exists.reason=Entered non-existent data for ${domain.name}

error.#getDomainNameLower(${domain.name})serviceimpl.get=${domain.name} details of  specified #getDomainNameLower(${domain.name}) identifier not displayed
error.#getDomainNameLower(${domain.name})serviceimpl.get.solution=Enter correct #getDomainNameLower(${domain.name}) identifier
error.#getDomainNameLower(${domain.name})serviceimpl.get.reason=Entered incorrect #getDomainNameLower(${domain.name}) identifier

error.#getDomainNameLower(${domain.name})serviceimpl.getpaginglist=${domain.name} List not displayed
error.#getDomainNameLower(${domain.name})serviceimpl.getpaginglist.solution=Enter correct value
error.#getDomainNameLower(${domain.name})serviceimpl.getpaginglist.reason=Entered incorrect value

error.#getDomainNameLower(${domain.name})serviceimpl.remove=${domain.name} information not removed
error.#getDomainNameLower(${domain.name})serviceimpl.remove.solution=Remove only unused removable data
error.#getDomainNameLower(${domain.name})serviceimpl.remove.reason=Your trying to remove, not removable data or you entered data in incorrect format

error.#getDomainNameLower(${domain.name})serviceimpl.update=${domain.name} data not updated
error.#getDomainNameLower(${domain.name})serviceimpl.update.solution=Enter correct data for mandatory field or enter data according to formats means date format as yyyy-mm-dd
error.#getDomainNameLower(${domain.name})serviceimpl.update.reason=Entered incorrect data for ${domain.name}

# -- #getDomainNameLower(${domain.name}) list page --
#getDomainNameLower(${domain.name})List.title=${domain.name} List
#getDomainNameLower(${domain.name})List.heading=${domain.name}
#getDomainNameLower(${domain.name})List.#getDomainNameLower(${domain.name})=#getDomainNameLower(${domain.name})
#**#

# -- #getDomainNameLower(${domain.name}) detail page --
#getDomainNameLower(${domain.name})Detail.title=${domain.name} Detail
#getDomainNameLower(${domain.name})Detail.heading=${domain.name} Information

# -- #getDomainNameLower(${domain.name})-END

# -- Add new messages here