<?xml version="1.0" encoding="UTF-8"?>
<project>
  <actions/>
  <description/>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn://localhost/trunk/myproject</remote>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions/>
    <includedRegions/>
    <excludedUsers/>
    <excludedRevprop/>
    <excludedCommitMessages/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 23 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>all</targets>
      <antName>ANYFRAME_ANT</antName>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.checkstyle.CheckStylePublisher>
      <threshold/>
      <newThreshold/>
      <failureThreshold/>
      <newFailureThreshold/>
      <healthy/>
      <unHealthy/>
      <pluginName>[CHECKSTYLE] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding/>
      <useDeltaValues>false</useDeltaValues>
      <canRunOnFailed>false</canRunOnFailed>
      <pattern>**/checkstyle-report.xml</pattern>
    </hudson.plugins.checkstyle.CheckStylePublisher>
    <hudson.plugins.dry.DryPublisher>
      <threshold/>
      <newThreshold/>
      <failureThreshold/>
      <newFailureThreshold/>
      <healthy/>
      <unHealthy/>
      <pluginName>[DRY] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding/>
      <useDeltaValues>false</useDeltaValues>
      <canRunOnFailed>false</canRunOnFailed>
      <pattern>**/duplicated-code-report.xml</pattern>
      <highThreshold>50</highThreshold>
      <normalThreshold>25</normalThreshold>
    </hudson.plugins.dry.DryPublisher>
    <hudson.plugins.findbugs.FindBugsPublisher>
      <threshold/>
      <newThreshold/>
      <failureThreshold/>
      <newFailureThreshold/>
      <healthy/>
      <unHealthy/>
      <pluginName>[FINDBUGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding/>
      <useDeltaValues>false</useDeltaValues>
      <canRunOnFailed>false</canRunOnFailed>
      <pattern>**/findbugs-report.xml</pattern>
    </hudson.plugins.findbugs.FindBugsPublisher>
    <hudson.plugins.pmd.PmdPublisher>
      <threshold/>
      <newThreshold/>
      <failureThreshold/>
      <newFailureThreshold/>
      <healthy/>
      <unHealthy/>
      <pluginName>[PMD] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding/>
      <useDeltaValues>false</useDeltaValues>
      <canRunOnFailed>false</canRunOnFailed>
      <pattern>**/pmd-report.xml</pattern>
    </hudson.plugins.pmd.PmdPublisher>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>**/target/output/test-results/xml/*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>myproject_build</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.emma.EmmaPublisher>
      <includes>**/coverage*.xml</includes>
      <healthReports>
        <minClass>5</minClass>
        <maxClass>10</maxClass>
        <minMethod>5</minMethod>
        <maxMethod>10</maxMethod>
        <minBlock>5</minBlock>
        <maxBlock>10</maxBlock>
        <minLine>5</minLine>
        <maxLine>10</maxLine>
      </healthReports>
    </hudson.plugins.emma.EmmaPublisher>
    <hudson.plugins.jdepend.JDependRecorder>
      <configuredJDependFile>**/jdepend-report.xml</configuredJDependFile>
    </hudson.plugins.jdepend.JDependRecorder>
  </publishers>
  <buildWrappers/>
  <customWorkspace>C:\gen-1.5.0.RC1\applications</customWorkspace>
</project>