<list>
  <!--service type templates-->
  <template>
    <type>service</type>
    <ftl>dao/sample-data.ftl</ftl>
    <src>merge/{class-name}-sample-data.xml</src>
    <mergeSrc>/src/test/resources/sample-data.xml</mergeSrc>
    <mergeKey>!--{class-name}-START--</mergeKey>
    <share>false</share>       
  </template>
  <!--query-START-->  
  <template>
    <type>service</type>
    <ftl>dao/query/mapping-query.ftl</ftl>
    <src>src/main/resources/sql/mip-query/mapping-mip-query-{class-name-lower}.xml</src>
    <share>false</share>  
    <dao>query</dao>         
  </template>
  <!--query-END-->     
  <template>
    <type>service</type>
    <ftl>service/service.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/{class-name}MiPService.java</src>
    <share>false</share>       
  </template>
  <template>
    <type>service</type>
    <ftl>service/service-impl.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}MiPServiceImpl.java</src>
    <share>false</share>       
  </template>
  <template>
    <type>web</type>
    <ftl>web/spring/controller.ftl</ftl>
    <src>src/main/java/{basepkg-name}/web/{class-name}MiPController.java</src>
    <share>false</share>         
    <framework>spring</framework>    
  </template>
  <template>
    <type>web</type>
    <ftl>web/spring/controller-beans.ftl</ftl>
    <src>merge/{class-name}-beans.xml</src>
    <mergeSrc>/src/main/resources/spring/mip-query-generation-servlet.xml</mergeSrc>
    <mergeKey>!--{class-name}-START--</mergeKey>
    <share>false</share>         
    <framework>spring</framework>    
  </template>    
  <template>
    <type>web</type>
    <ftl>web/mip-grid-list.ftl</ftl>
    <src>src/main/webapp/mip-query/extends/{class-name-lower}/list{class-name}.xml</src>
    <share>false</share>         
  </template> 
  <template>
    <type>service</type>
    <ftl>web/ApplicationResources.ftl</ftl>
    <src>merge/{class-name}-ApplicationResources.properties</src>
    <mergeSrc>/src/main/resources/message/message-generation.properties</mergeSrc>
    <mergeKey># -- {class-name}-START</mergeKey>
    <share>false</share>         
  </template> 
  <template>
    <type>web</type>
    <ftl>web/menu.ftl</ftl>
    <src>merge/{class-name}-menu.jsp</src>
    <mergeSrc>/src/main/webapp/anyframe.jsp</mergeSrc>
    <mergeKey>!--{class-name}-START--</mergeKey>
    <share>false</share>             
  </template>
</list>