<list>
  <jdbcType>
    <type>Oracle</type>
    <driver>oracle.jdbc.driver.OracleDriver</driver>
    <dialect>
       <string>org.hibernate.dialect.OracleDialect</string>
       <string>org.hibernate.dialect.Oracle10gDialect</string>
    </dialect>
    <port>1521</port>
  </jdbcType>
  
  <jdbcType>
    <type>HSQL</type>
    <driver>org.hsqldb.jdbcDriver</driver>
    <dialect>
       <string>org.hibernate.dialect.HSQLDialect</string>
     </dialect>
    <port>-1</port>    
  </jdbcType>

  
  <jdbcType>
    <type>MySQL</type>
    <driver>com.mysql.jdbc.Driver</driver>
    <dialect>
       <string>org.hibernate.dialect.MySQLDialect</string>
     </dialect>
    <port>3306</port>    
  </jdbcType>

  <jdbcType>
    <type>Sybase</type>
    <driver>com.sybase.jdbc3.jdbc.SybDataSource</driver>
    <dialect>
       <string>org.hibernate.dialect.SybaseDialect</string>
     </dialect>
    <port>3000</port>    
  </jdbcType>
  
  <!-- reference 
  <jdbcType>
    <type>DB2</type>
    <driver>com.ibm.db2.jdbc.app.DB2Driver</driver>
    <dialect>
       <string>org..hibernate.dialect.DB2Dialect</string>
     </dialect>
    <port>-1</port>    
  </jdbcType>  
  -->
  
 </list>
