<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.anyframe.ide.querymanager.perspective.QMPluginPerspective"
			fixed="false"
			icon="images/database_gear.png"
			id="org.anyframe.ide.querymanager.perspective.QMPluginPerspective"
			name="%Perspective_Menu_QueryManager">
		</perspective> 
	</extension>
	
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="xml"
			id="com.sds.qm.content-type"
			name="Query Manager content type"
			priority="high">
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter
					name="element"
					value="queryservice">
				</parameter>
			</describer>
		</content-type>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.anyframe.ide.querymanager.editors.QMEditor"
			contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
			default="false"
			extensions="xml"
			icon="images/database_edit.png"
			id="org.anyframe.editor.xml.MultiPageEditor"
			name="%Editor_Menu_QueryManager">
			<contentTypeBinding
				contentTypeId="com.sds.qm.content-type">
			</contentTypeBinding>
		</editor>
		<editor
			class="org.anyframe.ide.querymanager.editors.QueryEditor"
			extensions="config"
			icon="images/database_edit.png"
			id="org.anyframe.ide.querymanager.editors.QueryEditor"
			name="%Editor_Menu_Test">
		</editor>
	</extension>
	<extension point="org.eclipse.ui.newWizards" id="nodeContextAction">
		<wizard
			category="org.anyframe.ide.common.wizards.anyframe"
			class="org.anyframe.ide.querymanager.wizards.AddSQMPFileWizard"
			icon="images/pencil_add.png"
			id="org.anyframe.ide.querymanager.wizards.AddSQMPFileWizard"
			name="%Wizard_Menu_SQL">
			<description>
           		%Wizard_Desc_SQL
         	</description>
         </wizard>
	</extension>

	<!-- <extension point="org.eclipse.help.toc">
		<toc file="doc/toc.xml"
			primary="false">
		</toc>
	</extension> -->
	
	<!-- <extension point="org.eclipse.help.contexts">
		<contexts file="doc/contexts.xml" />
	</extension> -->
	
	<extension point="org.eclipse.core.resources.builders"
		id="org.anyframe.ide.querymanager.build.anyframeProjectBuilder"
		name="anyframeProjectBuilder">
		<builder
			hasNature="false"
			isConfigurable="false">
			<run class="org.anyframe.ide.querymanager.build.anyframeProjectBuilder"/>
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.natures"
		id="org.anyframe.ide.querymanager.build.AnyframeNature"
		name="AnyframeNature">
		<runtime>
			<run class="org.anyframe.ide.querymanager.build.AnyframeNature"/>
		</runtime>
		<requires-nature id="org.eclipse.jdt.core.javanature"/>
		<builder id="org.anyframe.ide.querymanager.build.AnyframeProjectBuilder"/>
	</extension>    
	
	<extension point="org.eclipse.ui.decorators">
		<decorator
			adaptable="true"
			icon="images/queryMgr_Icon.gif"
			id="org.maven.ide.eclipse.maven2decorator"
			label="m2.decorator.name"
			lightweight="true"
			location="BOTTOM_RIGHT"
			state="true">
			<description>anyframe</description>
			<enablement>
				<objectState
				name="nature"
				value="org.anyframe.ide.querymanager.build.AnyframeNature"/>
			</enablement>
		</decorator>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
			objectClass="org.eclipse.core.resources.IProject"
			id="anyframeProjectMenus1" >
			<visibility>
				<not>
					<objectState name="nature"
						value="org.anyframe.ide.querymanager.build.AnyframeNature">
					</objectState>
				</not>
			</visibility>		            
			<action
         class="org.anyframe.ide.querymanager.actions.EnableNatureAction"
         enablesFor="1"
         id="enableAction"
         label="Activate Query Manager"
         menubarPath="anyframe/anyframeQuerySeparator">
			</action>
		</objectContribution>	            
		<objectContribution
			adaptable="true"
			objectClass="org.eclipse.core.resources.IProject"
			id="anyframeProjectMenus1">
			<visibility>
				<objectState
					name="nature"
					value="org.anyframe.ide.querymanager.build.AnyframeNature">
				</objectState>
			</visibility>            
			<action
         class="org.anyframe.ide.querymanager.actions.DisableNatureAction"
         enablesFor="1"
         id="disableAction"
         label="Deactivate Query Manager"
         menubarPath="anyframe/anyframeQuerySeparator">
			</action>
		</objectContribution>
  
  
	</extension>
	
	<!-- Builder Error Marker -->
	<extension point="org.eclipse.core.resources.markers"
		id="builderErrorMarker"
		name="Duplicate Id Marker in Query Conf Files.">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
	</extension>
	
	<!-- Search UnUsed Marker -->
	<extension point="org.eclipse.core.resources.markers"
	id="searchUnUsedMarker"
	name="Query Un Used Marker in Query Navigator.">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
	</extension>
	
	<!-- QueryNavigator Double Click Book Marker -->
	<extension 
		id="queryNavigatorDblClickBookMarker"
		name="Duplicate Id Marker in Query Conf Files."
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
	</extension>
	
	
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="qm.contentAssist"
		name="QueryManager Content Assistant">
		<javaCompletionProposalComputer
			activate="true"
			categoryId="qm.contentAssist"
			class="org.anyframe.ide.querymanager.build.QMProposalComputer"/>
	</extension>
	
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="qm.contentAssist"
		name="QueryManager Content Assistant">
		<proposalCategory icon="images/database_gear.png"/>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution 
			id="org.eclipse.ui.articles.action.contribution.popup.editor"
			targetID="#CompilationUnitEditorContext"> 
			<action
				class="org.anyframe.ide.querymanager.editors.OpenQueryIdInEditor"
				enablesFor="*"
				icon="images/database_edit.png"
				id="org.eclipse.ui.articles.action.contribution.editor.action1"
				label="Open Query in Query Manager Editor"
				menubarPath="additions"> 
			</action> 
		</viewerContribution>  
	<!--
		<viewerContribution 
			id="org.eclipse.ui.articles.action.contribution.popup.editor"
			targetID="org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext"> 
			<action
				class="org.anyframe.querymanager.eclipse.core.build.OpenVOClassInJavaEditor"
				definitionId="org.anyframe.plugins.commands.openVOClassQueryCommand"
				enablesFor="*"
				icon="icons/cog_go.png"
				id="org.eclipse.ui.articles.action.contribution.editor.action2"
				label="Open Class in java Editor"
				menubarPath="additions"> 
			</action>
		</viewerContribution>
  	-->
  <viewerContribution
        id="org.eclipse.ui.articles.action.contribution.popup.editor"
        targetID="org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext">
     <action
           class="org.anyframe.ide.querymanager.editors.OpenClassInJavaEditor"
           enablesFor="*"
           icon="images/cog_go.png"
           id="org.eclipse.ui.articles.action.contribution.editor.action3"
           label="Open Class in java Editor"
           menubarPath="additions">
     </action>
  </viewerContribution>  
	</extension>

	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.anyframe.ide.querymanager.build.QMMarkerResolutionGenerator"
			markerType="org.anyframe.ide.querymanager.builderErrorMarker"/>
	</extension>
	
	<!--
	<extension point="net.sourceforge.sqlexplorer.nodeContextAction">
		<action
			class="org.anyframe.querymanager.eclipse.core.tableMapping.DBTreeOpenWizardContextAction"
			database-product-name="*"
			id="net.sourceforge.sqlexplorer.anyframe.createmappingfileaction"
			name="Generate EM"
			node-type="table"/>
	</extension>
	-->
	
	<extension point="org.eclipse.ui.views">
		<view category="org.anyframe.ide.common.views.anyframe" 
			class="org.anyframe.ide.querymanager.views.QMResultsView" 
			icon="images/database_table.png" 
			id="org.anyframe.ide.querymanager.views.QMResultsView" 
			name="%View_Menu_Results" />
  <view
        category="org.anyframe.ide.common.views.anyframe"
        class="org.anyframe.ide.querymanager.views.QMExplorerView"
        icon="images/database_tree.png"
        id="org.anyframe.ide.querymanager.views.QMExplorerView"
        name="%View_Menu_Explorer">
  </view> 
	</extension>
	
	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.anyframe.ide.querymanager.actionSet"
			label="QueryManager Action Set"
			visible="true">
			<action
				accelerator="F9"
				class="org.anyframe.ide.querymanager.editors.OpenQueryIdInEditor"
				id="org.anyframe.ide.querymanager.actions.QMAction"
				label="&amp;QueryManager ShortCutKey Action"
			/>
		</actionSet>
	</extension>
	
	<!--
	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.anyframe.ide.common.preferences.anyframe"
			class="org.anyframe.ide.querymanager.preferences.AnyframePreferencePage"
			id="org.anyframe.ide.querymanager.preferences.AnyframePreferencePage"
			name="Query Manager">
		</page>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.anyframe.ide.querymanager.preferences.PreferenceInitializer">
		</initializer>
	</extension>
	-->
 <extension
       point="org.eclipse.help.toc">
    <toc
          file="help/toc.xml"
          primary="true">
    </toc>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="org.anyframe.ide.common.properties.anyframe"
          class="org.anyframe.ide.querymanager.properties.QMPropertiesPage"
          id="org.anyframe.ide.querymanager.properties.QMPropertiesPage"
          name="Query Manager">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IResource">
          </adapt>
       </enabledWhen>
       <filter
             name="nature"
             value="org.anyframe.ide.querymanager.build.AnyframeNature">
       </filter>
    </page>
 </extension>
</plugin>
