<list>
  <template>
    <type>dao</type>
    <vm>dao.vm</vm>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}Dao.java</src>
    <common>false</common>         
  </template>
  <template>
    <type>dao</type>
    <vm>sample-data.vm</vm>
    <src>/src/test/resources/sample-data.xml</src>
    <common>true</common>
  </template>
  <template>
    <type>service</type>
    <vm>service.vm</vm>
    <src>src/main/java/{basepkg-name}/service/{class-name}Service.java</src>
    <common>true</common>       
  </template>
  <template>
    <type>service</type>
    <vm>service-impl.vm</vm>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}ServiceImpl.java</src>
    <common>true</common>       
  </template>
  <template>
    <type>service</type>
    <vm>service-test.vm</vm>
    <src>src/test/java/{basepkg-name}/service/{class-name}ServiceTest.java</src>
    <common>true</common>       
  </template>
  <template>
    <type>web</type>
    <vm>controller.vm</vm>
    <src>src/main/java/{basepkg-name}/web/{class-name}Controller.java</src>
    <common>true</common>         
  </template>
  <template>
    <type>web</type>
    <vm>controller-test.vm</vm>
    <src>src/test/java/{basepkg-name}/web/{class-name}ControllerTest.java</src>
    <common>true</common>         
  </template>
  <template>
  <type>web</type>
    <vm>form.vm</vm>
    <src>src/main/webapp/WEB-INF/jsp/generation/{class-name-lower}/form.jsp</src>
    <common>true</common>         
  </template>
  <template>
    <type>web</type>
    <vm>list.vm</vm>
    <src>src/main/webapp/WEB-INF/jsp/generation/{class-name-lower}/list.jsp</src>
    <common>true</common>         
  </template>
  <template>
    <type>web</type>
    <vm>message-properties.vm</vm>
    <src>/src/main/resources/message/message-generation.properties</src>
    <common>true</common>
    <merge>true</merge>
  </template>  
  <template>
    <type>web</type>
    <vm>menu.vm</vm>
    <src>/src/main/webapp/anyframe.jsp</src>
    <common>true</common>   
	<merge>true</merge>      	
  </template> 
</list>
