<list>
  <template>
    <type>dao</type>
    <vm>sample-data.vm</vm>
    <src>/src/test/resources/sample-data.xml</src>
    <common>true</common>
  </template>
  <template>
    <type>dao</type>
    <vm>mapping-query.vm</vm>
    <src>src/main/resources/sql/mip-query/mapping-mip-query-{class-name-lower}.xml</src>
    <common>false</common>  
  </template>
  <template>
    <type>service</type>
    <vm>service.vm</vm>
    <src>src/main/java/{basepkg-name}/service/{class-name}MiPService.java</src>
    <common>false</common>       
  </template>
  <template>
    <type>service</type>
    <vm>service-impl.vm</vm>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}MiPServiceImpl.java</src>
    <common>false</common>       
  </template>
  <template>
    <type>web</type>
    <vm>controller.vm</vm>
    <src>src/main/java/{basepkg-name}/web/{class-name}MiPController.java</src>
    <common>false</common>         
  </template>
  <template>
    <type>web</type>
    <vm>controller-beans.vm</vm>
    <src>/src/main/resources/spring/mip-query-generation-servlet.xml</src>
    <common>false</common>   
	<merge>true</merge>      	
  </template>
  <template>
    <type>web</type>
    <vm>mip-grid-list.vm</vm>
    <src>/src/main/webapp/mip-query/extends/{class-name-lower}/list{class-name}.xml</src>
    <common>false</common>   
  </template>
  <template>
    <type>web</type>
    <vm>mip-query-sdi.vm</vm>
    <src>/src/main/webapp/mip-query/extends/mip_query_sdi.xml</src>
    <common>false</common>   
    <merge>true</merge>
  </template>
  <template>
    <type>web</type>
    <vm>message-properties.vm</vm>
    <src>/src/main/resources/message/message-generation.properties</src>
    <common>false</common>
    <merge>true</merge>
  </template>
  <template>
    <type>web</type>
    <vm>menu.vm</vm>
    <src>/src/main/webapp/anyframe.jsp</src>
    <common>false</common>   
	<merge>true</merge>      	
  </template>
</list>