<list>
  <!--service type templates-->
  <template>
    <type>service</type>
    <ftl>dao/sample-data.ftl</ftl>
    <src>merge/{class-name}-sample-data.xml</src>
    <mergeSrc>/src/test/resources/sample-data.xml</mergeSrc>
    <mergeKey>!--{class-name}-START--</mergeKey>
    <share>false</share>       
  </template>
  <template>
    <type>service</type>
    <ftl>service/service-test.ftl</ftl>
    <src>src/test/java/{basepkg-name}/service/{class-name}ServiceTest.java</src>
    <share>true</share>       
  </template> 
  <!--springjdbc-START-->   
  <template>
    <type>service</type>
    <ftl>dao/springjdbc/service-test.ftl</ftl>
    <src>src/test/java/{basepkg-name}/service/{class-name}ServiceTest.java</src>
    <share>true</share> 
    <dao>springjdbc</dao>       
  </template>   
  <template>
    <type>service</type>
    <ftl>dao/springjdbc/dao.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}Dao.java</src>
    <share>false</share>  
    <dao>springjdbc</dao>         
  </template>  
  <!--springjdbc-END-->   
  <!--hibernate-START-->
  <template>
    <type>service</type>
    <ftl>dao/hibernate/dao.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}Dao.java</src>
    <share>false</share>  
    <dao>hibernate</dao>         
  </template>  
  <template>
    <type>service</type>
    <ftl>dao/hibernate/dynamic-hibernate.ftl</ftl>
    <src>src/main/resources/hibernate/dynamic-hibernate-{class-name-lower}.xml</src>
    <share>false</share>  
    <dao>hibernate</dao>         
  </template>  
  <!--hibernate-END-->  
  <!--query-START-->
  <template>
    <type>service</type>
    <ftl>dao/query/dao.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}Dao.java</src>
    <share>false</share>  
    <dao>query</dao>         
  </template>  
  <template>
    <type>service</type>
    <ftl>dao/query/mapping-query.ftl</ftl>
    <src>src/main/resources/sql/query/mapping-query-{class-name-lower}.xml</src>
    <share>false</share>  
    <dao>query</dao>         
  </template>   
  <!--query-END-->    
  <!--ibatis2-START-->      
  <template>
    <type>service</type>
    <ftl>dao/ibatis2/dao.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}Dao.java</src>
    <share>false</share>  
    <dao>ibatis2</dao>         
  </template>   
  <template>
    <type>service</type>
    <ftl>dao/ibatis2/mapping-ibatis2.ftl</ftl>
    <src>src/main/resources/sql/ibatis2/{class-name}.xml</src>
    <share>false</share>  
    <dao>ibatis2</dao>         
  </template>  
  <!--ibatis2-END-->      
  <template>
    <type>service</type>
    <ftl>service/service.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/{class-name}Service.java</src>
    <share>false</share>       
  </template>  
  <template>
    <type>service</type>
    <ftl>service/service-impl.ftl</ftl>
    <src>src/main/java/{basepkg-name}/service/impl/{class-name}ServiceImpl.java</src>
    <share>false</share>       
  </template>    
  <template>
    <type>service</type>
    <ftl>web/ApplicationResources.ftl</ftl>
    <src>merge/{class-name}-ApplicationResources.properties</src>
    <mergeSrc>/src/main/resources/message/message-generation.properties</mergeSrc>
    <mergeKey># -- {class-name}-START</mergeKey>
    <share>false</share>         
  </template>   
  <!--web type templates-->  
  <template>
    <type>web</type>
    <ftl>web/spring/controller-test.ftl</ftl>
    <src>src/test/java/{basepkg-name}/web/{class-name}ControllerTest.java</src>
    <share>false</share>         
    <framework>spring</framework>    
  </template>    
  <template>
    <type>web</type>
    <ftl>web/spring/controller.ftl</ftl>
    <src>src/main/java/{basepkg-name}/web/{class-name}Controller.java</src>
    <share>false</share>         
    <framework>spring</framework>    
  </template>   
  <template>
    <type>web</type>
    <ftl>web/spring/list-view.ftl</ftl>
    <src>src/main/webapp/WEB-INF/jsp/generation/{class-name-lower}/list.jsp</src>
    <share>false</share>         
    <framework>spring</framework>    
  </template>        
  <template>
    <type>web</type>
    <ftl>web/spring/form-view.ftl</ftl>
    <src>src/main/webapp/WEB-INF/jsp/generation/{class-name-lower}/form.jsp</src>
    <share>false</share>         
    <framework>spring</framework>    
  </template>   
  <template>
    <type>web</type>
    <ftl>web/menu.ftl</ftl>
    <src>merge/{class-name}-menu.jsp</src>
    <mergeSrc>/src/main/webapp/anyframe.jsp</mergeSrc>
    <mergeKey>!--{class-name}-START--</mergeKey>
    <share>false</share>             
  </template>      
</list>