/**
 * Copyright (C) 2012 Original Author(s), Ltd. All rights reserved.
 *
 * DAO Class: ${daoClassName}
 * This is a data access object class for a Table ${tableName}
 *
 */
#if (${daoPackage} == "")

#else
package ${daoPackage};
#end

import anyframe.common.Page;
import anyframe.core.query.AbstractDAO;

#if (${voPackage} == "")

#else
import ${voPackage}.${voClassName};
#end

/**
 * @author [write down the name of an author(s)]
 *
 */
public class ${daoClassName} extends AbstractDAO {
    /**
     * This inserts values into a Table in the database.
     *
     * @param ${voClassObj}
     * @return
     * @throws Exception
     *
     */
    public void create(${voClassName} ${voClassObj}) throws Exception {
        create("$!rawId", ${voClassObj});
    }
    
    /**
     * This reads values from a Table in the database by key
     * and returns it as a value object.
     *
     * @param ${voClassObj}
     * @return ${voClassObj}
     * @throws Exception
     *
     */
    public $voClassName find(${voClassName} ${voClassObj}) throws Exception {
        return ($voClassName) findByPk("$!rawId", ${voClassObj});
    }
    
    /**
     * This reads values from a Table in the database
     * and returns it as a Page.
     *
     * @param ${voClassObj}
     * @return Page
     * @throws Exception
     *
     */
    public Page findList(${voClassName} ${voClassObj}, int pageIndex, int pageSize,
            int pageUnit) throws Exception {
        return findListWithPaging("$!rawId", ${voClassObj}, pageIndex, pageSize,
                pageUnit);
    }
    
    /**
     * This updates values on a Table in the database.
     *
     * @param ${voClassObj}
     * @return
     * @throws Exception
     *
     */
    public void update(${voClassName} ${voClassObj}) throws Exception {
        update("$!rawId", $voClassObj);
    }
    
    /**
     * This removes values from a Table in the database.
     *
     * @param ${voClassObj}
     * @return
     * @throws Exception
     *
     */
    public void remove(${voClassName} ${voClassObj}) throws Exception {
        remove("$!rawId", $voClassObj);
    }
    
}
