#if (${pkg} != "")
package $pkg;
#end
import java.sql.ResultSet;
import java.sql.SQLException;
import $result;
import anyframe.core.query.IResultSetMapper;

public class $mapperName implements IResultSetMapper {
    public Object mapRow(ResultSet resultSet) throws SQLException {
        #set ($resultLastIdx = $result.lastIndexOf("."))        
        #if ($resultLastIdx != -1)
        #set ($idx = $resultLastIdx + 1)
        #set ($resultClassName = $result.substring($idx, $result.length()))
$resultClassName vo = new $resultClassName();
        #else
        #set ($resultClassName = $result)
$resultClassName vo = new $resultClassName();
        #end 	
			
        #foreach ($columnInfo in $columnInfoList) 
            #set ($firstIdx = $columnInfo.indexOf("."))
            #set ($secondIdx = $firstIdx + 1)
            #set ($thirdIdx = $columnInfo.lastIndexOf("."))
            #set ($fourthIdx = $thirdIdx + 1)
            #set ($attrName = $columnInfo.substring(0, $firstIdx))			
            #set ($mappingClassType = $columnInfo.substring($secondIdx, $thirdIdx))
            #set ($columnName = $columnInfo.substring($fourthIdx, $columnInfo.length()))
        vo.set$attrName(resultSet.get$mappingClassType("$columnName"));
        #end 
        return vo;
	}
}