/**
 * Copyright (C) 2012 Original Author(s), Ltd. All rights reserved.
 *
 * VO Class: ${voClassName}
 * This is a value object class for Table ${tableName}.
 *
 */
#if (${packageText} != "")
package ${packageText};
#end

import java.io.Serializable;
#foreach($column in $tableColumn)
#if ($column.getDataType() == "BigDecimal")
import java.math.BigDecimal;
#end
#if ($column.getDataType() == "Timestamp")
import java.sql.Timestamp;
#end
#if ($column.getDataType() == "Date")
import java.sql.Date;
#end
#end

/**
 * @author [write down the name of an author(s)]
 *
 */
public class ${voClassName} implements Serializable {
#foreach($column in $tableColumn)
#if ($column.getDataType() == "Blob" || $column.getDataType() == "Clob")
    private String $column.getAttributeLower();
#else
    private $column.getDataType() $column.getAttributeLower();
#end

#end

#foreach($column in $tableColumn)
#if ($column.getDataType() == "Blob" || $column.getDataType() == "Clob")
    public String get$column.getAttributeUpper()() {
        return $column.getAttributeLower();
    }
    public void set$column.getAttributeUpper()(String $column.getAttributeLower()) {
        this.$column.getAttributeLower() = $column.getAttributeLower();
    }
#else
    public $column.getDataType() get$column.getAttributeUpper()() {
        return $column.getAttributeLower();
    }
    public void set$column.getAttributeUpper()($column.getDataType() $column.getAttributeLower()) {
        this.$column.getAttributeLower() = $column.getAttributeLower();
    }
#end

#end
}
