#macro( getDomainNameLower $domainName )### START getDomainNameLower
${domainName.substring(0,1).toLowerCase()}${domainName.substring(1)}##
#end#### END getDomainNameLower
<!--${domain.name}-START-->
	<bean name ="/#getDomainNameLower(${domain.name})MiP.do" class="${package}.web.${domain.name}MiPController"/>
	<mvc:view-controller path="/#getDomainNameLower(${domain.name})MiPView.do" view-name="redirect:/mip-query/extends/mipQuery.jsp?mipid=#getDomainNameLower(${domain.name})/list${domain.name}.xml" />   
<!--${domain.name}-END-->
<!--Add additional controller beans here-->